.buttonsFeedback {
    list-style: none;
    display: flex;
    gap: 10px;
}

.btn {
    width: 100px;
    height: 40px;
    background-color: white;
    border-color: gainsboro;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
}
